/* -------CURSOS------- */

header {
  background-color: #bebedc;
}

.main__cursos {
  background-image: linear-gradient(#bebedc, #cdcbed, #DCD5DF, white);
}

.cursos {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cursos__text {
  width: 40%;
  font-size: 20px;
}

footer {
  background-color: #E0E1E1;
  opacity: 60%;
  padding: 30px;
  display: grid;
  grid-row: auto;
}


/*-------MEDIA QUERIES------*/

@media screen and (max-width: 480px) {
header {
  flex-direction: column;
  background-color: #bebedc;
}

.cursos {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1.5rem;
  margin: 0;
  }

  #cursos__text{
    width: 70%;
    padding-bottom: 10px
  }


.video {
  padding: 30px;
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

}
