/* -----------SERVICIOS---------- */
header {
  background-color: #C4B2CA;
}

.main__servicios {
  background-image: linear-gradient(#C4B2CA, #D6C7DE, #DCD5DF, white);
  display: flex;
}

.servicios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 70%;
}

button {
  padding: 10px;
  margin: 20px;
}

footer {
  background-color: #E0E1E1;
  opacity: 60%;
  padding: 30px;
  display: grid;
  grid-row: auto;
}

/*-------MEDIA QUERIES------*/

@media screen and (max-width: 480px) {
}
