@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Montserrat:wght@300&display=swap');
@import "./misc/variables";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: "Montserrat";
    font-size: 15px;
    height: 100%;
    width: 100%;
}

#contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 40px;
    grid-template-areas:
    "header"
    "main"
    "footer";
    min-height: 100%;
}


/*-------MEDIA QUERIES------*/

@media screen and (max-width: 480px) {
    #contenedor {
        grid-template-rows: auto 1fr 40px;
    }
}