@import "../mixin";

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: map-get($map: $colors, $key: "gradient");

    picture {
        width: 100%;
        img {
            width: 100%;
        }
    }


    h1 {
        font-size: map-get($map: $font-sizes, $key: "80");
        padding-top: map-get($map: $spacings, $key: "medium");
        font-family: map-get($map: $font-family, $key: "titulo-principal");
        text-align: center;
        color: map-get($map: $colors, $key: "text");

    }
    
    .montserrat {
        font-size: map-get($map: $font-sizes, $key: "24");
        font-family: map-get($map: $font-family, $key: "general");
        color: map-get($map: $colors, $key: "text");
    }
}   

/*-------MEDIA QUERIES------*/

@media screen and (max-width: 480px) {
    main {
        h1 {
            font-size: map-get($map: $font-sizes, $key: "50");
        }

        .montserrat {
            font-size: map-get($map: $font-sizes, $key: "16");
        }
    }
}





