main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(white, #FEDE92, #fbd273);

    .fondo img {
        width: 100%;
    }

    h1 {
        font-size: map-get($map: $font-sizes, $key: "80");
        padding-top: map-get($map: $spacings, $key: "medium");
        font-family: map-get($map: $font-family, $key: "titulo-principal");
        text-align: center;
        color: map-get($map: $colors, $key: "text");

    }
    
    .montserrat {
        font-size: map-get($map: $font-sizes, $key: "32");
        font-family: map-get($map: $font-family, $key: "general");
        color: map-get($map: $colors, $key: "text");
    }
}   


